# Airtable Configuration
AIRTABLE_API_ACCESS_TOKEN=
AIRTABLE_BASE_ID=
AIRTABLE_TABLE_NAME=
AIRTABLE_API_URL=
AIRTABLE_VIEW_ID=

# Curated Configuration
CURATED_API_TOKEN=
CURATED_API_URL=
CURATED_PUBLICATION_ID=

# Processing Configuration
BATCH_SIZE=49
